body {
  background-image: url("./assets/images/Depositphotos_191671406_l-2015.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.card-body {
  color: rgb(245, 237, 237);
  padding: 20px;
}

.card1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 0px;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0px;
  padding: 20px;
  border-radius: 35px;
}

.card-text {
  font-size: 1em;
  line-height: 1.6;
  margin-top: 20px;
  color: #ffffff;
  text-align: left;
}
.card-body h1 {
  color: #fcf9f9;
  font-family: "Allan";
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.45rem;
}

h1 {
  font-family: ArialMT Arial Bold Arial Black ArialHebrew Arial-BoldMT;
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 50px;
}

/* Make the layout responsive */
@media (max-width: 768px) {
  .card {
    width: 80%; /* Full width on small screens */
    margin: 10px auto;
  }

  h1 {
    font-size: 2.5rem;
  }
}
