body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.bg-main {
  background-image: url(./assets/images/Depositphotos_230929898_l-2015.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
